@model IEnumerable<son.ViewModels.GradeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/LayoutStudent.cshtml";
}

<h1>@ViewBag.StudentId</h1>


<div class="col-md-12 co-xl-12" style="background:while">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">List Grade</h5>

            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead class="thead-default">
                        <tr>
                            
                            <th>Course </th>
                            <th>Class</th>
                            <th>Grade</th>

                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td> @item.CourseName</td>
                                <td> @item.ClassName</td>
                                <td>@item.GradeStudent</td>
                                
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
